.flex-block {
  position: relative;

  display: flex;
  overflow: auto;

  box-sizing: content-box;

  margin-bottom: 0px;
  padding: 8px 8px 8px 48px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  aspect-ratio: auto;

  border-radius: 8px;

  background-color: hsla(0, 0.44%, 0.00%, 0.00);

  box-shadow: -1px 3px 8px -1px rgba(0,0,0,0.2);

  text-align: center;
  text-decoration: none;

  object-fit: cover;
}

.text-field-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;
  padding-left: 48px;

  border: 1px none black;
}

.image {
  position: absolute;
  left: 16px;
  box-sizing: border-box;
  pointer-events: none;
  object-fit: fill;
}

.text-block-4 {
  position: relative;
  pointer-events: none;
}